<ion-view title="{{hrecord.title}}">
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img ng-src="{{serverPath}}/img/{{hrecord.img}}">
                <h2>{{hrecord.title}}</h2>
                <p>{{hrecord.desc}}</p>
                <div style="float:right"><img ng-src="{{serverPath}}/img/{{hrecord.hostpitalImg}}" style="width:60px;"></div>
            </div>

            <div class="item item-body" ng-show="hrecord.recordType == 'join'">
                <p>Age: {{hrecord.record.age}}</p>
                <p>Location: {{hrecord.record.location}}</p>
                <p>Phone No: {{hrecord.record.phNo}}</p>
                <p>Insurence: {{hrecord.record.insurance}}</p>
            </div>
            <div class="item item-body" ng-show="hrecord.recordType == 'appointment'">
                <div style="width:30%; float:left;">
                    <img ng-src="{{serverPath}}/img/{{hrecord.record.physicianImg}}" style="height:80px;"/>
                </div>
                <div style="width:70%; float:right;">
                    <p>Date: {{hrecord.record.date}}</p>
                    <p>Time: {{hrecord.record.time}}</p>
                    <p>Sepcialist : {{hrecord.record.diagnosis}}</p>
                    <p>Reason: {{hrecord.record.reason}}</p>
                </div>
            </div>
            <div class="item item-body" ng-show="hrecord.recordType == 'labreport'">
                <p>Date: {{hrecord.record.date}}</p>
                <p>Time: {{hrecord.record.time}}</p>
                <p>Physician : {{hrecord.record.physician}}</p>
                <p>Diagnosis: {{hrecord.record.diagnosis}}</p>
                <img ng-src="{{serverPath}}/img/icon8-download" style="width:30px"/>
            </div>
            <div class="item item-body" ng-show="hrecord.recordType == 'admission'">
                <p>Date: {{hrecord.record.date}}</p>
                <p>Time: {{hrecord.record.time}}</p>
                <p>Physician : {{hrecord.record.physician}}</p>
                <p>Diagnosis: {{hrecord.record.diagnosis}}</p>
                <p>Reason: {{hrecord.record.reason}}</p>

            </div>
            <div class="item item-body" ng-show="hrecord.recordType == 'discharge'">
                <p>Date: {{hrecord.record.date}}</p>
                <p>Time: {{hrecord.record.time}}</p>
                <p>Physician : {{hrecord.record.physician}}</p>
                <p>Diagnosis: {{hrecord.record.diagnosis}}</p>
            </div>
            <!-- <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" ng-click="share()">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div> -->
        </div>
    </ion-content>
</ion-view>
